@model Productos

<h2>Detalle Producto</h2>

<table class="table table-dark">
    <thead>
        <tr>
            <th hidden>ID</th>
            <th>Descripcion</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td hidden>@Model.IdProducto</td>
                <td>@Model.Descripcion</td>
                <td>@Model.Precio</td>
            </tr>
    </tbody>
</table>