@model tl2_tp8_2025_BautistaAlvarez.ViewModels.PresupuestoViewModel

<form asp-controller="Presupuestos" asp-action="Create" method="post"><!--Bindear al controller presupuesto, a la accion de su controller y metodo-->
    <div class="form-group">
        <label asp-for="NombreDestinatario"></label><!--Recodar que es equivalente poner model.nombreDestinatario-->
        <input asp-for="NombreDestinatario" class="form-control">
        <span asp-validation-for="NombreDestinatario" class="text-danger"></span><!--Agrego-->
    </div>
    <div class="form-group">
        <label asp-for="FechaCreacion"></label>
        <input asp-for="FechaCreacion" type="date" class="form-control">
        <span asp-validation-for="FechaCreacion" class="text-danger"></span><!--Agrego-->
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
<!--Agrego-->
@section Scripts {
 <partial name="_ValidationScriptsPartial" />
}

